.invisible
{
	display: none;
}

.gallery-top
{
	display: none;
}

.gallery-top-visible
{
	display: block;
}

.gallery-top .big-img
{
	margin: 0 auto;
	max-height: 600px;
	border-radius: 15px;
	border: 2px solid #fff;
}

.gallery-bottom
{
	padding-top: 20px;
}

.gallery-bottom .small-img
{
	border-radius: 15px;
	width: 90%;
}

.gallery-bottom .small-img:hover
{
	border: 2px solid #2c3e50;
	transform: scale(1.5);
	transition-property: transform;
	transition-duration: .3s;
}

.nav-buffer
{
	height: 20px;
}

.comments-buffer
{
	height: 30px;
}

.comment
{
	border-radius: 5px;
	border: 1px solid black;
	padding: 10px 10px 0px;
	margin: 15px 25px;
	background-color: #2c3e50;
}

.comment header
{
	text-align: left;
	color: white;
	padding-bottom: 10px;
	border-bottom: 1px solid black;
}

.comment .nickname
{
	display: block;
	font-weight: 800;
}

.comment p
{
	text-align: justify;
	border-radius: 5px;
	margin-top: 10px;
	padding: 10px;
	background-color: white;
}

.form
{
	margin: 15px 25px;
}

.photo-likes
{
	color: #7696b5;
	font-size: 20px;
	margin-top: 15px;
}

.photo-likes .fa-thumbs-o-up
{
	color: #7696b5;
}

.photo-likes .fa-thumbs-o-up:hover
{
	color: #f00;
}