{% extends 'base.html' %}
{% load staticfiles %}
{% block gallery %}
<div class="nav-buffer"></div>
<section class="gallery-top container">
	<div class="row">
		<div class="col-md-12 text-center">
			<img id="big-photo" class="img-responsive big-img" src="">
		</div>
	</div>
	<div class="row photo-likes">
		<div class="col-md-12 text-center">
			<button id="makeBackground" class="btn" onclick="setBackground()">Сделать фоном</button>
		</div>
		<div class="col-md-12 text-center">
			<a href="#"><i class="fa fa-thumbs-o-up addlike"></i></a> <span id="like-count">12</span>
		</div>
	</div>
</section>
<section class="gallery-bottom container">
	<div class="row">
		<div class="col-sm-3 col-xs-6 text-center">
			<img class="img-responsive small-img" src="{{ photo_1.photo.url }}">
		</div>
		<div class="col-sm-3 col-xs-6 text-center">
			<img class="img-responsive small-img" src="{{ photo_2.photo.url }}">
		</div>
		<div class="col-sm-3 col-xs-6 text-center">
			<img class="img-responsive small-img" src="{{ photo_3.photo.url }}">
		</div>
		<div class="col-sm-3 col-xs-6 text-center">
			<img class="img-responsive small-img" src="{{ photo_4.photo.url }}">
		</div>
	</div>
</section>
<div class="comments-buffer"></div>
<section class="comments container invisible">
</section>
<section class="comments-form invisible container">
	<div class="row">
		<div class="col-sm-3"></div>
		<article class="form col-sm-6">
			<form id="contact-form" action="/gallery/addcomment/" method="post">
				{% csrf_token %}
				<div class="form-group">
					<div class="controls">
						<textarea id="contact-message" name="message" placeholder="Введите сообщение" class="form-control" rows="6" required></textarea>
						<i class="fa fa-comment"></i>
						<input id="photoURL" name="photoURL" value="" type="hidden">
					</div>
				</div>
				<p>
					<button name="submit" type="submit" class="btn btn-primary"><i class="fa fa-paper-plane"></i>Оставить комментарий</button>
				</p>
				<input type="hidden" name="submitted" id="submitted" value="true">
			</form>
			{% if login_error %}
			<div class="text-danger text-center">Только зарегистрированные пользователи могут оставлять сообщения!</div>
			{% endif %}
		</article>
	</div>
</section>
<script src="{% static "gallery/js/gallery-scripts.js"%}"></script>
{% endblock %}