{% extends 'base.html' %}
{% load staticfiles %}
{% block visits %}
<div class="nav-buffer"></div>
<section class="container">
	<div class="row">
		<div class="col-sm-12">
			<table class="table table-hover">
				<thead>
					<tr>
						<td>IP</td>
						<td>URI</td>
						<td>Последний раз</td>
					</tr>
					{% for visit in all_visits_by_ip %}
					<tr>
						<td>{{ visit.ip_address }}</td>
						<td>{{ visit.uri }}</td>
						<td>{{ visit.last_visit }}</td>
					</tr>
					{% endfor %}
				</thead>
			</table>
		</div>
	</div>
</section>
{% endblock %}